//
// Button
// --------------------------------------------------

//
// Btn
//
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 8px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  transition: background-color 0.25s ease-out, color 0.25s;

  // hover & focus
  &:hover, &:focus {
    outline: 0;
    text-decoration: none;
  }
}


//
// Btn Dark
//
.btn--dark {
	background-color: $black-lighter;
	color: $white-lighter;
	// border: 1px solid $white;

	// hover
	&:hover {
		background-color: $green;
	}
}


//
// Btn Icon
//
.btn--icon {
	display: inline-flex;
	text-align: left;
	font-size: 21px;
  font-weight: 600;
  letter-spacing: -1.13px;
	padding: 9px 24px;
	min-width: 224px;
	text-transform: uppercase;
	justify-content: space-between;
	align-items: center;

	// lg
	&-lg {
		min-width: 326px;
		padding: 15px 24px;
	}
}


//
// Btn Text
//
.btn--text {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 18px;
	min-width: 1px;
	letter-spacing: initial;

	// white
	&-white {
		color: $white;
	}

	.btn-icon {
		margin-left: 15px;
	}
}


//
// Btn Outline
//
.btn--outline {
	border-width: 1px;
	border-style: solid;

	// white
	&-white {
		border-color: $white;
		color: $white;
		&:hover {
			border-color: $green;
			background-color: $green;
		}
	}
}
