//
// Variables
// --------------------------------------------------

//
// Colors
//
$white:         #ffffff !default;
$white-light:   #F6F6F6 !default;
$white-lighter: #F4F4F4 !default;
$black:         #000000 !default;
$black-light:   #2E2E2E !default;
$black-lighter: #444444 !default;
$green:         #009739 !default;
$yellow:        #FFD100 !default;
$red:           #EF3340 !default;
$grey-lighter:  #DBDBDB !default;
$grey-light:    #979797 !default;


//
// Fonts
//
$font-primary:   'Montserrat', sans-serif;
$font-secondary: 'Open Sans', sans-serif;


//
// Text Colors
//
// $text-color-default: #000000;
