//
// Helpers
// --------------------------------------------------


//
// Text
//
.text-right {text-align: right !important;}
.text-left  {text-align: left !important;}


//
// Margin
//
.mt-100  {margin-top: 100px !important;}
.mx-auto {margin-left: auto !important; margin-right: auto !important;}


//
// Max Width
//
.maxw-980  {max-width: 980px !important;}
.maxw-1060 {max-width: 1060px !important;}
.maxw-1100 {max-width: 1100px !important;}
.maxw-1200 {max-width: 1200px !important;}
.maxw-1340 {max-width: 1340px !important;}


//
// Display
//
.d-none {display: none !important;}
